@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 43, 43, 43;
  --background-rgb: 244, 237, 228;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 45, 55, 72;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}